.newsDetails {
  text-align: left;
}

.newsDetails img {
  width: 100%;
  height: auto;
}

.newsDetails figcaption {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.newsDetails button,
.newsDetails button:focus,
.newsDetails button:hover {
  background-color: var(--text-secondary);
  border: var(--text-secondary);
}

.newsDetails a {
  color: var(--text-secondary);
  display: inline;
}

.newsDetails a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.newsDetails iframe[src*="youtube"] {
  width: 100%;
  height: 30rem;
}

#alert {
  width: 500px;
  height: auto;
  position: fixed;
  top: 10px;
  z-index: 100;
  left: calc(50% - 500px / 2);
}
